@import "utilites";
@import "config";
@import "btnConfig";

* {
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 15px;
}

body {
  background-color: $light-color;
  color: white;
  font-family: $font-stack;
  line-height: 1;
}

a {
  text-decoration: none;
}

.hero {
  background-color: black;

  nav{
    ul {
      position: absolute;
      left: 50%;

      list-style-type: none;
      text-align: right;

      li {
        float: right;
        margin-left: 15px;
        font-size: 12px;
      }
    }
    .banner {
    font-size: 20px;
    padding-top: 25px;
  }
    a {
      color: white;
    }
  }
  p {
  }

}
.hero-content{

 
  img{
    width: 400px;
    height: 400px;
    float: right;
    border-radius: 50%;
  }


}

// This code is related to some of the aspects of SCSS we have yet to cover.
// While you don't have to mess with it, it would be advisable to attempt to understand its functionality.
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
